<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>TODO list</h1>
    
    <form action = "/tasks" method = "post">
      <label for="task_name">New task:</label>
      <input type="text" id="task_name" name="task_name">

      <input type="submit">
    </form>

    <ul class = "rounded-list">
      <% tasks.each do |task| %>
        <li><a href="/tasks/<%= task['name'] %>"><%= task['name'] %></a></li>
      <% end %>
    </ul>

  </body>
</html>
